/* Variables
/* ---------------------------------------------------------- */

:root {

    /* Colours */

    --color-black: #293C56;
    --color-grey-dark: #5D6970;
    --color-orange: #C45D3E;
    --color-cream: #F9F5EB;
    --color-cream-light: #FEFAF6;
    --color-green: #7A9E7E;
    --color-green-light: rgba(122, 158, 126, 0.20);

    --color-primary: var(--color-black);
    --color-secondary: var(--color-grey-dark);
    --color-accent: var(--color-orange);

    --color-background-primary: var(--color-cream);
    --color-background-secondary: var(--color-cream-light);

    --color-button-accent: var(--color-cream);
    --color-button: var(--color-secondary);

    --color-success: #80b912;
    --color-error: #f05230;

    /* Fonts */
    --font-sans-serif: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Athelas, Times, serif;
    --font-mono: "IBM Plex Mono", Courier, monospace;

}