/* Section About ************************************************************ Section About */

.section-about {
  margin-bottom: clamp(10rem, 5rem + 13.333vw, 17rem);

  .container-narrow {
    padding-left: 0;
    padding-right: 0;
    max-width: 1080px;
    column-gap: 10rem;
  }

  &__text {
    max-width: 55.5rem;
  }

  &__list {
    margin-top: clamp(3rem, 2.286rem + 1.905vw, 4rem);
    row-gap: clamp(1rem, 0.714rem + 0.762vw, 1.4rem);
  }

  &__item {
    position: relative;

    svg {
      width: clamp(1.8rem, 1.229rem + 1.524vw, 2.6rem);
      height: auto;
      position: absolute;
      top: 0;
      right: calc(100% + clamp(1rem, 0.286rem + 1.905vw, 2rem));
    }
  }

  .button {
    margin-top: 3.2rem;
  }
}