<header class="header container-main">
  <div class="wrapper flex items-center content-space-between">

    <img src="{{asset "images/global/logo.svg"}}" alt="Logo" class="logo">

    {{> components/navigation}}

  </div>
</header>