<nav class="navigation">
  <ul class="navigation__list flex items-center content-space-between">
    <li class="navigation__item">
      <a href="/" class="navigation__link">
        Home
      </a>
    </li>
    <li class="navigation__item">
      <a href="/about" class="navigation__link">
        About
      </a>
    </li>
    <li class="navigation__item">
      <a href="/book" class="navigation__link">
        Book
      </a>
    </li>
    <li class="navigation__item">
      <a href="/resources" class="navigation__link">
        Resources
      </a>
    </li>
    <li class="navigation__item">
      <a href="/solutions" class="navigation__link">
        Solutions
      </a>
    </li>
    <li class="navigation__item">
      <a href="/podcast" class="navigation__link">
        Podcast
      </a>
    </li>
    <li class="navigation__item">
      <a href="/contact" class="navigation__link">
        Contact
      </a>
    </li>
  </ul>
</nav>